:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
}
.navigation-bar-ciberseguridad {
  height: max-content;
  min-width: min-content;
}
.navigation-drawer-ciberseguridad {
  min-width: min-content;
  min-height: 0;
  max-width: 320px;
  flex-shrink: 0;
}
.page-container-ciberseguridad {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.navbar-content {
  gap: 1rem;
}
.h6 {
  margin: 0;
}
.row-layout {
  display: flex;
}
.horizontal-group-ciberseguridad {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
