:host {
  height: 100%;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
}
.content {
  height: max-content;
  min-width: min-content;
}
.glossary-accordion {
  overflow-y: auto;
  flex-shrink: 0;
}
