<h3 class="content">
  Glosario de Términos
</h3>
<igx-accordion [singleBranchExpand]="true" class="glossary-accordion">
  <igx-expansion-panel>
    <igx-expansion-panel-body>
      <p class="ig-typography__body-2 content">
        Acoso o intimidación que se produce a través de medios digitales como redes sociales, mensajería instantánea o correo electrónico.
      </p>
    </igx-expansion-panel-body>
    <igx-expansion-panel-header iconPosition="right">
      <igx-expansion-panel-title>Ciberacoso</igx-expansion-panel-title>
    </igx-expansion-panel-header>
  </igx-expansion-panel>
  <igx-expansion-panel>
    <igx-expansion-panel-body>
      <p class="ig-typography__body-2 content">
        Envío de mensajes, imágenes o videos de contenido sexual explícito, principalmente a través de dispositivos móviles.
      </p>
    </igx-expansion-panel-body>
    <igx-expansion-panel-header iconPosition="right">
      <igx-expansion-panel-title>Sexting</igx-expansion-panel-title>
    </igx-expansion-panel-header>
  </igx-expansion-panel>
  <igx-expansion-panel>
    <igx-expansion-panel-body>
      <p class="ig-typography__body-2 content">
        Técnica utilizada por depredadores sexuales en línea para ganarse la confianza de menores de edad con el fin de abusar de ellos.
      </p>
    </igx-expansion-panel-body>
    <igx-expansion-panel-header iconPosition="right">
      <igx-expansion-panel-title>Grooming</igx-expansion-panel-title>
    </igx-expansion-panel-header>
  </igx-expansion-panel>
  <igx-expansion-panel>
    <igx-expansion-panel-body>
      <p class="ig-typography__body-2 content">
        Intento de obtener información confidencial (contraseñas, datos bancarios) haciéndose pasar por una entidad de confianza en una comunicación electrónica.
      </p>
    </igx-expansion-panel-body>
    <igx-expansion-panel-header iconPosition="right">
      <igx-expansion-panel-title>Phishing</igx-expansion-panel-title>
    </igx-expansion-panel-header>
  </igx-expansion-panel>
  <igx-expansion-panel>
    <igx-expansion-panel-body>
      <p class="ig-typography__body-2 content">
        Derecho a controlar el acceso y uso de la información personal en línea y fuera de línea.
      </p>
    </igx-expansion-panel-body>
    <igx-expansion-panel-header iconPosition="right">
      <igx-expansion-panel-title>Privacidad</igx-expansion-panel-title>
    </igx-expansion-panel-header>
  </igx-expansion-panel>
</igx-accordion>
