<h3 class="content">
  ¿Qué es el Ciberacoso y el Sexting?
</h3>
<img src="/assets/Auto%20generated%20image%20for%20d8474bee-d12b-4126-9886-e9af2f2814c4-69043607-c594-400c-90f0-5f4cf2ca4814.png" alt="" class="what-is-image" />
<p class="content">
  El ciberacoso es el acoso o intimidación por medio de tecnologías digitales. Puede ocurrir en redes sociales, plataformas de mensajería, plataformas de juegos y teléfonos móviles. Es un comportamiento repetitivo con el fin de asustar, enfadar o avergonzar a otras personas. El sexting es el envío de mensajes, imágenes o videos de contenido sexual, principalmente entre adolescentes, a través de teléfonos móviles.
</p>
<p class="content">
  Ejemplos comunes incluyen la difusión de rumores, el envío de fotos íntimas sin consentimiento o la suplantación de identidad para dañar la reputación de alguien. Es crucial entender que, aunque el sexting pueda ser consensuado, una vez que el contenido se comparte, se pierde el control sobre él.
</p>
<p class="content">
  La diferencia clave radica en el consentimiento. El sexting consensuado implica el acuerdo mutuo para compartir contenido sexual, mientras que el sexting no deseado es la difusión de dicho contenido sin el permiso explícito de la persona afectada, lo que constituye un delito grave.
</p>
