:host {
  height: 100%;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
}
.content {
  height: max-content;
  min-width: min-content;
}
.privacy-image {
  object-fit: cover;
  border-radius: 8px;
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
}
