<h3 class="content">
  Riesgos y Consecuencias
</h3>
<img src="/assets/Auto%20generated%20image%20for%20b1576858-d840-46e7-bcc4-7d1740f9e86b-06143ac0-2951-4c37-8dd9-049f2fccc347.png" alt="" class="risks-image" />
<p class="content">
  Las consecuencias emocionales pueden incluir ansiedad, depresión, baja autoestima, aislamiento y, en casos extremos, pensamientos suicidas. A nivel legal, el ciberacoso y el sexting no consensuado son delitos que pueden llevar a graves sanciones. Socialmente, las víctimas pueden enfrentar estigmatización, pérdida de amistades y dificultades para reinsertarse en sus círculos sociales.
</p>
<p class="content">
  Según el INEGI, en México, el 21.7% de la población de 12 años y más fue víctima de ciberacoso en 2021. A nivel mundial, la UNICEF reporta que uno de cada cinco adolescentes ha sido víctima de ciberacoso. Estas cifras resaltan la urgencia de abordar este problema.
</p>
