<h3 class="content">
  Política de Privacidad
</h3>
<img src="https://www.picsum.photos/id/1018/800/600" alt="" class="privacy-policy-image" />
<p class="ig-typography__body-2 content">
  En Ciberseguridad Adolescente, nos comprometemos a proteger tu privacidad. Esta política describe cómo recopilamos, utilizamos y compartimos tu información personal.
</p>
<p class="ig-typography__body-2 content">
  Recopilamos información que nos proporcionas directamente, como cuando creas una cuenta o te suscribes a nuestros boletines. Esto puede incluir tu nombre, dirección de correo electrónico y otra información de contacto. También recopilamos automáticamente ciertos datos técnicos, como tu dirección IP, tipo de navegador y sistema operativo, para mejorar la funcionalidad de nuestro sitio y la experiencia del usuario.
</p>
<p class="ig-typography__body-2 content">
  No compartimos tu información personal con terceros, excepto cuando sea necesario para cumplir con la ley, proteger nuestros derechos o para fines de análisis interno que nos ayuden a mejorar nuestros servicios. Nunca venderemos tu información a anunciantes.
</p>
<p class="ig-typography__body-2 content">
  Implementamos una variedad de medidas de seguridad para mantener la confidencialidad de tu información personal. Utilizamos cifrado y otras tecnologías de seguridad para proteger los datos durante la transmisión y el almacenamiento.
</p>
<p class="ig-typography__body-2 content">
  Tienes derecho a acceder, corregir o eliminar tu información personal en cualquier momento. También puedes solicitar una copia de los datos que tenemos sobre ti. Para ejercer estos derechos, por favor, contáctanos a través de la información proporcionada al final de esta política.
</p>
<p class="ig-typography__body-2 content">
  Utilizamos cookies para mejorar tu experiencia en nuestro sitio web. Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo. Puedes configurar tu navegador para que rechace todas las cookies o para que te avise cuando se envíe una. Sin embargo, algunas funciones de nuestro sitio pueden no funcionar correctamente sin cookies.
</p>
<p class="ig-typography__body-2 content">
  Si tienes alguna pregunta o preocupación sobre nuestra política de privacidad, no dudes en contactarnos en privacy&#64;ciberseguridadadolescente.com.
</p>
