:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0;
}
.row-layout {
  display: flex;
}
.login-form-container {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 32px;
  min-width: min-content;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.login-form {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 320px;
  min-height: 50px;
  max-width: 560px;
  flex-grow: 1;
  flex-basis: 0;
}
.login-form-fields {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.login-remember-forgot {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.login-no-account {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.login-forgot-password {
  color: var(--ig-info-500);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.login-create-new-account {
  color: var(--ig-info-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.login-email {
  height: max-content;
  min-width: min-content;
}
.login-remember-me {
  width: max-content;
  height: max-content;
}
.login-sign-in-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
