<h3 class="content">
  Créditos y Referencias
</h3>
<img src="/assets/Auto%20generated%20image%20for%20068c717d-6308-4d96-b4ce-96aa5298437f-3f84dfee-932f-4f46-985d-47fae19d3698.png" alt="" class="credits-image" />
<p class="content">
  Esta aplicación ha sido desarrollada con información y datos de las siguientes fuentes oficiales:

  UNAM (Universidad Nacional Autónoma de México)
  INEGI (Instituto Nacional de Estadística y Geografía)
  Guardia Nacional - Ciberseguridad
  Fundación UNAM
  UNICEF
  Save the Children
</p>
