:host {
  height: 100%;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
}
.content {
  text-align: center;
  height: max-content;
  min-width: min-content;
}
.row-layout {
  display: flex;
}
.home-page-buttons {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.button-what-is {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
