<h2 class="content">
  Bienvenido a Ciberseguridad Adolescente
</h2>
<p class="content">
  Información, prevención y orientación para un entorno digital seguro.
</p>
<div class="row-layout home-page-buttons">
  <button igxButton="contained" type="button" [routerLink]="['/ciberseguridad/qu-es']" class="button-what-is">
    ¿Qué es el ciberacoso y el sexting?
  </button>
  <button igxButton="contained" type="button" [routerLink]="['/ciberseguridad/riesgos']" class="button-what-is">
    Riesgos y Consecuencias
  </button>
  <button igxButton="contained" type="button" [routerLink]="['/ciberseguridad/prevenir']" class="button-what-is">
    Cómo prevenir
  </button>
</div>
