<h3 class="content">
  Qué Hacer si Eres Víctima
</h3>
<img src="/assets/Auto%20generated%20image%20for%20ab406d02-d527-41f6-82e6-a6b2d215e42e-b846bc3c-e3c8-4784-9d5d-79f3a0270b04.png" alt="" class="victim-image" />
<p class="content">
  **No respondas ni borres:** Es crucial no interactuar con el agresor ni eliminar el contenido, ya que esto podría destruir pruebas importantes.
  **Guarda evidencias:** Toma capturas de pantalla de mensajes, fotos, videos o cualquier interacción que demuestre el acoso o la difusión sin consentimiento. Anota fechas, horas y nombres de usuario.
  **Bloquea al agresor:** Utiliza las herramientas de bloqueo y reporte que ofrecen las plataformas digitales.
  **Busca apoyo:** Habla con alguien de confianza: tus padres, un maestro, un consejero escolar o un adulto en quien confíes.
  **Reporta a las autoridades:** Si la situación es grave o involucra contenido sexual, es importante contactar a las autoridades correspondientes.
</p>
<p class="content">
  No estás solo. Existen muchas instituciones y personas dispuestas a ayudarte. Consulta la sección de "Instituciones y Recursos de Ayuda" para obtener más información y contactos útiles.
</p>
