<h3 class="content">
  Cómo Prevenir el Ciberacoso y el Sexting
</h3>
<img src="/assets/Auto%20generated%20image%20for%207093c351-287b-4bec-b4b5-688428efc199-10534446-16d0-4845-aca7-a858920abe97.png" alt="" class="prevent-image" />
<p class="content">
  **Seguridad Digital:** Utiliza contraseñas fuertes, no compartas información personal con extraños y mantén tu software actualizado.
  **Uso de Redes Sociales:** Piensa antes de publicar. Una vez en línea, la información es difícil de borrar.
  **Configuración de Privacidad:** Revisa y ajusta regularmente las opciones de privacidad en todas tus plataformas para controlar quién ve tu contenido.
  **Convivencia Digital:** Sé respetuoso en línea, evita la confrontación y no participes en la difusión de rumores o contenidos dañinos.
</p>
